body {
    background-color: darkmagenta;
    padding-top: 50px;
}

.grid > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    list-style-type: none;
  }

.grid > ul > li {
    background-color: coral;
    height: 300px;
    width: 300px;
    border: 3px solid cornflowerblue;
    border-radius: .5rem;
}

.grid > ul > li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}