body {
  background-color: #53acb7;
  /* From Alaska.jpg */
  padding-top: 10px;
}

.colors > ul {
  list-style-type: none;
}

.colors > ul > li {
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  border-radius: .5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.poster > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
