<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<main>
    <div class="well lead">
        <h1>Find a palette you love, and create something wonderful using it.</h1>
        <br>Palette Gallery provides tried-and-true color palettes extracted from a broad selection of artwork.
        <br><br>While viewing any palette, you can: 
        <ul>
            <li>"Use this palette" button allows you to export it for use in web design.</li>
            <li>"View palette on Coolors" button brings the palette into Coolors.co, where you can change, randomize, reorder, and adjust the palette, then export it for use in web, print or brand design.</li>
            <li>Click any color square to preview it as the background of the page.</li>
        </ul>
    </div>
    <p class="well lead">
        Palette Gallery is the first project of my "Artwork as a Data Set" initiative.
    </p>
</main>

<footer>
    <%- include("../partials/footer"); %>
    <p>Background color from Vintage Travel / <a href="/images?name=CapeCod.jpg">Cape Cod</a>.</p>
</footer>

</body>
</html>