<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/about.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<main>
    <div class="well lead">
        <h1>Find a palette you love, and create something wonderful using it.</h1>
        <br>Palette Gallery provides tried-and-true color palettes extracted from a broad selection of artwork.
        <br><br>Coming soon: Buttons allowing you to export the palette for use in web design (CSS, HTML, or Javascript) or your preferred graphic design software.
    </div>
    <p class="well lead">
        Palette Gallery is the first project of my "Artwork as a Data Set" initiative.
    </p>
</main>

<footer>
    <%- include("../partials/footer"); %>
    <p>Background color from Vintage Travel / <a href="/images?name=CapeCod.jpg">Cape Cod</a>.</p>
</footer>

</body>
</html>