<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
</head>
<body class="container">

<header>
    <%- include("../partials/header"); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Your full image gallery</h1>
        <p>Click any image to see its color palette</p>
    </div>
    <div class="well well-lg">
        <p><%= JSON.stringify(imagesData) %></p>
    </div>
</main>

<footer>
    <%- include("../partials/footer"); %>
</footer>

</body>
</html>